* {
    box-sizing: border-box;
}

body {
    font-family: Graphik, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

ol{
	
	
}
	
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover {
    background-color: darkgreen;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	padding: 2px;
	text-align: center
}
/* Format del header */
.header {
    background-color: #1E7F00;
	color: white;
	text-shadow: 7px 0px black;
    padding: 0px;
    text-align: center;
    font-size: 40px;
	vertical-align: center;
	
}
.menu {
	list-style-type: none;
    margin: 0;
    padding: 0;
    
}

/* tres columnes que están al costat una de l'altre per a les notícies */
.column {
    float: left;
	padding: 10px;
    height: 2100px; 
}

/* Columnes dels costats que ocupin un 15% */
.column.side {
    width: 15%;
	background-color: #76FF4C;
	text-align:center;
	
}

/* columna del mig que ocupi el 70% restant */
.column.middle {
    width: 70%;
}

/* Borrar el float creat per a tenir una especie de footer */
.row:after {
    content: "";
    display: table;
    clear: both;
	
}

/* format del footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.comentari{
	text-align: center;
    letter-spacing: 3px;	
	text-shadow: 1px 1px grey;
		
}
.eslogan {
	background-color: grey;
	text-shadow: 0px 0px black;
	font-size: 25;
	
	
}
.anunci	 {
	text-align: middle;
	
}
.titol{
	font-family: Graphik, Helvetica, sans-serif;
	font-size: 25;
	
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
#llista_partits {
	background-color: black;
}
}